<a routerLink="home" routerLinkActive="active">Home</a>
<a routerLink="first" routerLinkActive="active">First</a>
<a routerLink="second" routerLinkActive="active">Second</a>
<a routerLink="first/second" routerLinkActive="active">First- Second</a>
<a routerLink="first/123" routerLinkActive="active">First- 123</a>


<a routerLink="pipe" routerLinkActive="active">PIPE</a>
<a routerLink="customdirective" routerLinkActive="active">Custom Directive</a>
<br>
<br>
<a routerLink="parent" routerLinkActive="active">OpenParent||</a>
<br>

<a routerLink="callparent" routerLinkActive="active">CALL PARENT</a>
<a routerLink="forms" routerLinkActive="active">FORMS</a>







<br>
<br>
<br>

<router-outlet>

</router-outlet>